:root {
  --yellow-color: #fbc43b;
}

body {
  background-image: url(assets/WhatsApp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: snow;
}

.logo {
  width: 5rem;
}
.logo-line {
  max-width: 10rem;
}
.days-counter {
  font-size: 7rem;
  position: absolute;
  top: 20%;
  left: 53%;
  transform: translate(-50%, -50%);
}
.days {
  letter-spacing: 1rem;
  font-weight: bold;
  position: absolute;
  top: 33%;
  left: 54%;
  transform: translate(-50%, -50%);
}
.table {
  color: snow;
  width: 60%;
  margin-left: 20%;
}
.table th {
  padding: 0 !important;
  text-align: center;
}

.table th span {
  font-size: 4rem;
  padding-right: .5rem
}
.socialMedia {
  list-style: none;
  display: flex;
  padding-top: 5%;
  padding-left: 17%;
}

.social {
  padding-right: 2rem;
  width: 6rem;
  padding: 1.5rem;
}
.col-md-6 {
  width: 100%;
  height: auto;
}

.logo-b {
  width: 10rem;
}

.content {
  border: 3px solid var(--yellow-color);
  height: auto;
  width: 26vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content p {
  color: snow;
  padding: 0 2rem;
}
.btn-yellow {
  margin: auto;
  color: snow;
  font-weight: bold;
  background-color: var(--yellow-color);
}
.btn-yellow:hover {
  background-color: transparent;
  border: 1px solid var(--yellow-color);
  color: var(--yellow-color);
}
.copy {
  color: snow;
  display: flex;
  align-content: flex-end;
  font-size: .7rem;
  top: 23% !important;
}
.copy span {
  padding: 0 .25rem;
  color: var(--yellow-color);
  font-weight: bold;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .table {
    margin-left: 10%;
  }
  .time th {
    font-size: .8rem;
    padding-right: .5rem !important;
  }
  .socialMedia {
    padding-left: 10%;
  }
  .btn-yellow {
    font-size: 1rem !important;
  }
  .content {
    width: 76vw;
  }
  .days-counter {
    top: 22% !important;
  }
  .days {
    top: 36% !important;
  }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
